.join-form {
    /* position: absolute; */
    background: rgba(236, 236, 236, 0.42);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    height: 300px;
    max-width: 100%;
}
/* username div */
.username-input-div {
    margin: 15px auto;
}

/* password div */
.password-input-div {
    margin: 15px auto;
}


/* Input-feilds */

/* user-input */
.username {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid #000000;
    background: rgba(196, 196, 196, 0.18);

}
.username::placeholder{
    color: #000000;
}

/* password-input */
.password {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid #000000;
    background: rgba(196, 196, 196, 0.18);
}

.password::placeholder{
    color: #000000;
}


/* 
.join-form h2 {
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-btn {
    width: 100%;
    padding: 6px 2rem;
    font-weight: 700;
    background-color:#ffd615;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.join-btn:active{
    transform: translateY(2px);
}

.google-icon{
    height: 10px;
    width: 10px;
}

.google-btn {
    width: 100%;
    padding: 6px 2rem;
    font-weight: 700;
    color: white;
    background-color:#f85959;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.google-btn:active {
    transform: translateY(2px);
}

/* .twitter-btn {
    margin: 5px auto;
    width: 100%;
    padding: 6px 2rem;
    font-weight: 700;
    color: white;
    background-color:#1DA1F2;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.twitter-btn:active {
    transform: translateY(2px);
} */