/* logo  */
img {
    height: 40px;
}
/* Navigation bar */
.navbar {
    background-color: #EEEEEE;
    padding: 12px 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar options */
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-list li {
    list-style: none;
    margin: 0 1.5rem;
}

.nav-list li a {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .5s;
}

.nav-list li a:hover {
    color: yellow;
}

/* Search box */

.search-box {
    padding: 0 12px;
    background-color: #c0c0c0;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.search-box::placeholder {
    color: black;
}

/* Join Button */

.btn {
    padding: 2px 40px;
    font-weight: 700;
    background-color: yellow;
    cursor: pointer;
    margin: 2px 10px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all .2s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: translateY(2px);
}
